%h1 Listing Active Games

%table
  %thead
    %tr
      %th Name
      %th Email
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Resume Game', game_path(user)
%br
= link_to 'New Game', new_user_path
