%section#new_game
  .container
    .row
      .col-lg-12.text-center
        %h2 New Game
        %hr.star-primary/
    .row
      .col-lg-8.col-lg-offset-2
        / To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
        / The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
        = render 'form'
