%table.table-striped.pull-right
  %tr
    %th
      Ship Name
    %th
      Ships Left
  - @ships.each do |ship|
    %tr
      %td
        = ship.name
      %td
        - ship_sunk = @ships_sunk.find_by(ship_id:ship.id)
        - quantity = ship.quantity
        - if !ship_sunk.nil?
          - quantity = quantity-1
        = quantity
