%table.table-striped.pull-right
  %tr
    %th
      Ship Name
    %th
      Ships Left
  - @ships.each do |ship|
    %tr
      %td
        = ship.name
      %td
        - ship_sunk = @ships_sunk.where(ship_id:ship.id)
        - quantity = ship.quantity
        - if !ship_sunk.nil?
          - ship_sunk.each do |ship_sunk|
            - quantity = quantity-1
        = quantity
  %tr
    %td
      Total Nukes:
    %td
      = @nukes.count
